
h1 {
	font-family: 'Lato', sans-serif !important;
	font-size: 62px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	color: #fff;
}
hr {
	width: 20%;
	border-top: 1px solid #fff;
}
@mixin caja() {
	height: 150px;
	margin-bottom: 10px;
}
@mixin color($color) {
	background-color: $color;
}
@mixin padding-tb($pd) {
	padding-top: $pd;
	padding-bottom: $pd;
}
@mixin box-shadow {
	box-shadow: 0 -5px 10px gray;
}
@mixin box-shadow-inset {
	box-shadow: inset 0 5px 15px black;
}

.entrada {
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	margin-bottom: 50px;
	text-align: center;
}
.text-gray {
	color: #443E44;
}
button {
	background-color: #443E44;
	border: none;
	padding: 10px 20px;
	margin: 0 auto;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	&:hover {
		background-color: #fff;
		color: #443E44;
	}
}

header {
	background-color: #27AD60;
	position: fixed;
	width: 100%;
	height: 100px;
	padding: 5px;
	z-index: 1000;
	.navbar-nav {
		margin-top: 20px;
		background-color: #27AD60;

		a {
			font-size: 14px;
			font-weight: 400;
			font-family: sans-serif;
			&:hover {
				background-color: rgba(0, 0, 0, 0.6);
				color: #27AD60;
			}
			&:focus {
				background-color: transparent;
				color: #fff;
			}
		}

	}
	.icon-bar {
		background-color: gray;
	}
}

#portada {
	background-image: url(../img/carousel-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	padding-top: 100px;
	padding-bottom: 20px;
	color: #FFF;
	text-align: center;
	h1 {
		padding: 2% 5%;
	}
	p {
		font-size: 28px;
		font-weight: 400;
	}
}
#palette {
	padding-top: 2%;
	h1 {
		margin: 2% 0;
		color: #443E44;
	}
	hr {
		border-top: 1px solid #443E44;
	}
	.container {
		padding: 3% 6% 1%;

		.muestra-color {
			@include caja();
		}
		.a1 {
			@include color(#69D2E7);
		}
		.a2 {
			@include color(#A7DBDB);
		}
		.a3 {
			@include color(#E0E4CC);
		}
		.a4 {
			@include color(#F38630);
		}
		.a5 {
			@include color(#FA6900);
		}
		.b1 {
			@include color(#E94C6F);
		}
		.b2 {
			@include color(#542733);
		}
		.b3 {
			@include color(#5A6A62);
		}
		.b4 {
			@include color(#C6D5CD);
		}
		.b5 {
			@include color(#FDF200);
		}
		.c1 {
			@include color(#DB3340);
		}
		.c2 {
			@include color(#E8B71A);
		}
		.c3 {
			@include color(#F7EAC8);
		}
		.c4 {
			@include color(#1FDA9A);
		}
		.c5 {
			@include color(#28ABE3);
		}
		.d1 {
			@include color(#588C73);
		}
		.d2 {
			@include color(#F2E394);
		}
		.d3 {
			@include color(#F2AE72);
		}
		.d4 {
			@include color(#D96459);
		}
		.d5 {
			@include color(#8C4646);
		}
		.e1 {
			@include color(#D0C91F);
		}
		.e2 {
			@include color(#85C4B9);
		}
		.e3 {
			@include color(#008BBA);
		}
		.e4 {
			@include color(#DF514C);
		}
		.e5 {
			@include color(#DC403B);
		}
	}
}
#about {
	@include color(#2C3E50);
	@include padding-tb(120px);
	@include box-shadow();
	color: #fff;
	.container {
		padding: 0 8%;

		hr {
			margin-bottom: 50px;
		}
		p {
			font-size: 14px;
			font-family: sans-serif;
			font-weight: 400;
			margin-bottom: 60px;
		}
		.imagen-about {
			margin-left: 7%;
			width: 90%;
		}
		.progress {
			margin-top: 7px;
			margin-bottom: 3px;
			background-color: #DCD5D5;
			border-radius: 0;
			height: 10px;
			.progress-bar {
				border: 2px solid #DCD5D5;
				line-height: 10

			}
			.progress-bar-warning {
				border-radius: 0;
				background-color: #E67E22;
			}
		}
		.programa {
			text-transform: uppercase;
			font-family: 'Lato', sans-serif !important;
			font-size: 12px;
			font-weight: 400;
			margin-left: 5px;
		}
	}
}
#service {
	@include color(#27AD60);
	@include padding-tb(120px);
	.container {
		padding: 0 6%;
		text-align: center;
		.servicios {
			text-align: center;
			padding: 40px 10px;
			.imagen-servicio {
				width: 150px;
				background-color: #2C3E50;
				background-image: url(../img/icon-bg.png);
				background-size: cover;
				background-position: center;
				padding: 15px 10px;
				margin: 0 auto;
			}
			h2 {
				color: #fff;
				text-transform: capitalize;
				font-weight: 400;
				padding-bottom: 10px;
				margin-top: 20px;

				}
			p {
				color: #B8BFBB;
				width: 75%;
				font-weight: 400;
				font-size: 16px;
				margin: 20px auto;
			}
			&:hover {
				background-color: rgba(0, 0, 0, 0.6);
				.imagen-servicio {
					background-image: none;
					background-color: #A96931;
					margin: 0 auto;
					transform: rotate(45deg);
				}
				h2 {
					border-bottom: 1px solid white;
				}
			}
		}
		button {
			text-transform: uppercase;
			margin: 0 auto;
		}
	}
}
#team {
	@include color(#27AD60);
	@include padding-tb(120px);

	.perfil {
		img {
			width: 150px;
			height: auto;
			margin: 0 auto;
		}
		h3 {
			color: #fff;
			text-transform: capitalize;
			font-weight: 400;
		}
		.cargo {
			font-size: 12px;
			font-family: 'Roboto', sans-serif !important;
			border-bottom: 1px dashed #B8BFBB;
			color: #443E44;
			padding: 15px 0;
			margin-bottom: 25px;
		}
		.bio {
			color: #B8BFBB;
			font-weight: 400;
			font-size: 15px;
			width: 80%;
			margin: 0 auto;			
		}
		.redes-sociales-team {
			margin: 20px 0;

			i {
				color: #B8BFBB;
				margin: 0 5px;
			}
		}
	}
}
#price {
	@include color(#2C3E50);
	@include padding-tb(120px);
	.paquete {
		margin-top: 40px;
		border: 1px solid #27AD60;
		background-color: #2C3E50;
		color: #FFF;
		text-align: center;
		p {
			padding: 10px;
			font-weight: 300;
			margin-bottom: 0;
		}
		.nombre-paquete {
			text-transform: uppercase;
			color: #B8BFBB;
			font-size: 24px;
			font-weight: 400;
			padding: 20px;
			margin-bottom: 0;
		}
		.costo {
			@include color(#27AD60);
			padding: 20px 0;
			font-size: 18px;
			font-weight: 400;
			p {
				padding: 0;
				margin-bottom: 0; 
			}
			span {
				font-size: 48px;
			}
			.trial {
				font-size: 12px;
			}
		}
		.caracteristicas-paquete {
			background-color: #fff;
			margin-right: 1px;
			p {
				padding: 10px;
				color: #2C3E50;
				margin-bottom: 0;
			}

		}
		.sign-up {
			padding: 30px;
			background-color: #2C3E50;
			margin-top: 2px;
		}
		&:hover {
			transform:translateY(-80px);
			border: 2px solid #E67E22;

		}
	}
	.paquete-promocion {
		background-color: #A96931;
	}
}
#clients {
	@include color(#2C3E50);
	@include padding-tb(120px);
	text-align: center;

	.cita {
		margin: 3% 0;
		padding: 0 20%;
		p  	{
			color: #B8BFBB;
			font-size: 20px;
			font-weight: 400;
			font-style: italic;
			margin: 10px auto;
		}
		.cliente {
			color: #E67E22;
			font-style: normal;
		}
	}
}
#facts {
	@include color(#2C3E50);
	@include padding-tb(100px);

	text-align: center;
	p {
		color: #fff;
		font-weight: 400;
	}
	form {
		width: 65%;
		margin: 0 auto;
		input {
			width: 100%;
			padding: 10px;
			font-size: 16px;
			margin: 10px 0;
			border: none;
		}
		.mensaje {
			@extend input;
			height: 200px;
		}
		.send {
			@extend button;
			width: 150px;
			display: block;
			margin-top: 10px;
		}
	}

}
#contact {
	@include box-shadow-inset();
	background-image: url(../img/img-divider-img.jpg);
	background-repeat: repeat-x;
	background-size: cover;
	background-position: top;
	padding: 150px 0;
	text-align: center;
	i {
		color: #fff;
		margin: 0 5px;
	}
}
footer {
	@include color(#27AD60);
	padding-bottom: 20px;
	color: #fff !important;
	font-weight: 400 !important;
	font-size: 16px !important;
	h3 {
		font-weight: 400;
	}

	.col-footer {
		padding: 10px 5%;

		ul {
		list-style-type: none;
			li {
			text-align: left;
			margin: 5px 0;


			}
		}
		i {
			margin-right: 5px;
		}
	}
	.input-group {
		border: 1px solid #443E44;
		background-color: #fff;
		height: 20px;

		span {
			height: 100%;
			background-color: #443E44;
		}
		button {
			padding: 0 10px;
			height: 100%;
			i {
				color: #E67E22;
				margin: auto;
			}
			&:hover {
				background-color: #443E44;
			}
		}
		input {
			border: none;
		}
	}
	.subscribe {
		margin-top: 15px;
		padding: 5px 20px;
		font-size: 16px;
		font-weight: 400;
	}
	.creditos {
		margin-top: 15px;
	}

}